header {
  width: 100%;
  height: 100vh;
  font-family: 'Bebas Neue', cursive;

  video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
  }

  nav {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
      color: white;
      font-size: 38px;
    }

    .menu {

      display: flex;
      justify-content: space-evenly;
      margin-bottom: 100px;
      width: 100%;

      a{
        text-decoration: none;
        color: white;
        font-size: 30px;
        transition: .3s;

        &:hover{
          transform: scale(1.2);
          color: aqua;
        }
      }
    }
  }
}